<section class="container body">
    <div class="container pricing">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <h2 class="Mybanner">Our Packages</h2>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="Mytable">
                            <div class="head_table">
                                <h3>Medium</h3>
                            </div>
                            <div class="content_table">
                                <div class="price">$ 100.00 </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><i class="fas fa-check ok"></i>  <%=always%></li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=edu%> </li>
                                  <li class="list-group-item"><i class="fas fa-times No"></i><span class="remove"></span> <%=vip%> </li>
                                  <li class="list-group-item"><i class="fas fa-times No"></i><span class="remove"></span> <%=massage%> </li>
                                  <li class="list-group-item"><i class="fas fa-times No"></i><span class="remove"></span> <%=therapy%> </li>
                                </ul>
                                <a type="button" href="/paystackMed" class="btn btn-outline-success btn-lg  Mybutton"> Start</a>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                      <div class="Mytable">
                            <div class="head_table">
                                <h3>Premium</h3>
                            </div>
                            <div class="content_table">
                                <div class="price">49.95 $</div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><i class="fas fa-check ok"></i>  <%=always%></li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=edu%> </li>
                                  <li class="list-group-item"><i class="fas fa-check No"></i>  <%=vip%></li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i>  <%=massage%></li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i>  <%=therapy%></li>
                                </ul>
                                <a type="button" href="/paystackPrem" class="btn btn-outline-success btn-lg  Mybutton"> Start</a>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                      <div class="Mytable">
                            <div class="head_table">
                                <h3>Ultimate</h3>
                            </div>
                            <div class="content_table">
                                <div class="price">$ 1000.00</div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item"><i class="fas fa-check ok"></i>  <%=vip%> </li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=always%> </li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=massage%> </li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=edu%> </li>
                                  <li class="list-group-item"><i class="fas fa-check ok"></i> <%=therapy%> </li>
                                </ul>
                                <a type="button" href="/paystackUlt" class="btn btn-outline-success btn-lg  Mybutton"> Start</a>
    
                            </div>
                        </div>
                        
                    </div>
                    <!-- {/* <button type="button" onClick={buy } class="btn btn-outline-success btn-lg Mybutton "
                    >{apply}</button> */}
                    <Link to="/Paystack" class="btn btn-outline-success btn-lg Mybutton ">Buy Access Key</Link> -->
                </div>
                
            </div>
    
    </section> 