<header>
  <%- include('partials/head'); %>
</header>
<section>
  <%- include('partials/carousel'); %>
</section>
<section>
  <%- include('partials/details'); %>
</section>
<!-- <section>
  <%- include('partials/ContactUs'); %>
</section> -->
<section>
  <%- include('partials/foot'); %>
</section>

